* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none !important;
}

.form-label {
  font-weight: 600;
}

@media print {
 
  .print{
    display: block !important;
  }

 .print-none{
  display: none !important;
 }

}